* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--Light-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: var(--White);
  width: 18rem;
  height: 28rem;
  border-radius: 5%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.123);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qr {
  background-color: var(--blue);
  width: 16rem;
  height: 16rem;
  border-radius: 5%;

  margin-top: 0.9rem;
}

h1 {
  color: var(--Dark-blue);
  margin-top: -1.2rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}
p {
  color: var(--Grayish-blue);
  margin-top: -1.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
}
